*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
    color:#fff; text-decoration: none;
}
html{
    scroll-behavior: smooth !important;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

/* Navbar section */

.nav{
    width: 100%;
    height: 65px;
    /* position: fixed; */
    position: relative;
    line-height: 65px;
    text-align: center;
    background-color: rgb(118 118 120 / 80%);
}

.nav div.logo{
    width: 180px;
    height: 10px;
    position: absolute;
}

.nav div.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    text-transform: uppercase;
}

.nav div.logo a:hover {
    color: #c0c0c0;
}

.nav div.main_list{
    width: 600px;
    height: 65px;
    float: right;
}

.nav div.main_list ul{
    width:100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li{
    width: 120px;
    height: 65px;
}

.nav div.main_list ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    text-transform: uppercase;
}

.nav div.main_list ul li a:hover{
    color: #c0c0c0;
}

.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

/* TypeWriter */
body {
    background-color:#303030;
    /* text-align: center; */
    color:#fff;
  }

.typewrite{
    text-align: center;
    color:#fff;
    display: flex;
    min-width: 40%;
    font-size: 50px;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 95px;
    margin-top: 100px;
    text-shadow: 6px 4px 3px black;
}

h1.hello {
    position: absolute;
    padding-bottom: 163px;
    font-size: 70px;
}

.backimg{
    margin-left: 200px;
    max-width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: auto;
    box-shadow: 3px 3px 3px black;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
.backimg img{
    width: 400px;
}
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
}

.info{
  text-align: justify;
  text-justify: inter-word;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents {
    display: none;
}

.tab-contents.active-tabs{
    display: block;
}

h1.sub-title{
    text-align: left;
}

/*Services*/

.services{
    margin-top: 100px;
}

.services-list{
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    text-align: justify;
    text-justify: inter-word;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/*My Work*/

div#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    text-align: justify;
    text-justify: inter-word;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    /* float: left; */
    border-radius: 10px;
    display: block;
    width:  100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

i.fas.fa-external-link-alt{
    color: black;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

/*Contact*/
.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
    padding: 10px;
    border-radius: 10px;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
}

.copyright i{
    color: #ff004f;
}
span#msg{
    color: #61b751;
    /* margin-top: -40px; */
    display: block;
}

/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .container{
        margin: 0;
    }
    
}

@media screen and (max-width:768px) {
    
    .container{
        margin: 0;
    }
    .nav{
        position: fixed;
        z-index: 99999;
        background: black;
    }

    .nav div.logo{
        margin-left: 15px;
    }
    
    .nav div.main_list{
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
        position: fixed;
        z-index: 99999;
    }
    
    .nav div.show_list{
        height: 200px;
        position: fixed;
        z-index: 99999;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:#ff004f;
    }
    
    .nav div.main_list ul li a{
      text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }
}

@media screen and (max-width:768px) { 
    .main{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    }
    .typewrite{
        text-align: center;
        color:#fff;
        display: flex;
        min-width: 40%;
        font-size: 50px;
        margin-top: 45px;
    }
    .backimg{
        max-width: none;
        margin: 0;
    }
    .backimg img{
        width: 300px;
    }
    .about-me{
        display: flex;
        flex-direction: column;
    }
    .row{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        padding: 10px;
    }
    .work{
        height: 300px;
        padding: 10px;
    }
    h1.sub-title {
        padding: 10px;
    }
    .services-list{
        padding: 10px;
    }
}
